@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

/* Custom Variables */
:root {
  --pry-color: #0000b2;
  --text-color: #00f;
  --light-text-color: rgba(0, 0, 255, 0.7);
  --lighter-text-color: rgba(0, 0, 255, 0.35);
  --very-light-text-color: rgba(0, 0, 255, 0.08);
  --dark-text-color: rgb(0, 0, 87);
  --font-size: 1rem;
}

/* LOGIN AND SIGN UP PAGE STYLES */
main.login-page,
main.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.6rem 0 2rem 0;
}

.heading {
  font-size: 2.6rem;
  font-weight: 700;
}

.form-section {
  margin: 4rem 0 0 0;
  width: 100%;
  max-width: 35rem;
}

.input-group:not(:last-of-type) {
  margin-bottom: 1.8rem;
}

.input-group label {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.input-group input {
  display: block;
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  padding: 0 0.7rem;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  background: var(--very-light-text-color);
  letter-spacing: 3px;
  transition: all 0.4s ease;
}

.input-group input:hover,
.input-group input:focus {
  outline: none;
  border-color: var(--pry-color);
  background: #fff;
}

.input-sub-group {
  flex: 1;
}

.input-sub-group:not(:last-child) {
  margin-right: 0.6rem;
}

.login-btn,
.signup-btn {
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0 0.7rem;
  margin: 1.8rem 0 0 0;
}

.no-account,
.have-account {
  margin-top: 3rem;
}

.no-account a,
.have-account a {
  color: var(--text-color);
  font-weight: 600;
}

.home {
  display: inline-block;
  color: var(--text-color);
  margin: 2rem 0 0 1rem;
  font-size: 1.1rem;
}

/* Styles for screens less than 880px */
@media screen and (max-width: 55rem) {
  /* LOGIN AND SIGN UP PAGE STYLES */
  .heading {
    font-size: 2.2rem;
  }

  .input-group label {
    font-size: 1.1rem;
  }

  .login-btn,
  .signup-btn {
    font-size: 1.1rem;
  }
}
